.bg-class {
    background-image: url(../img/7-BARRA.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .title-cards{
	    width: 100%;
	    max-width: 1080px;
	    margin: auto;
	    padding: 20px;
	    margin-top: 0px;
	    text-align: center;
	    color: #7a7a7a;
    }   

}