

.bg-div {
    
    background-image: url(./img/imag\ banner.jpg);
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
       
}























